.LoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #F3F3F3;
}

.LoginContainer .LoginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62%;
    width: 33%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1.5rem 0.5rem;
}

.LoginContainer .LoginBox .LoginHeading {
    height: calc(30% - 2.5rem);

}

.LoginHeading h4 {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 25px;
    color: #750077;
}

.LoginHeading h6 {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 0.6rem;
    color: rgba(117, 0, 119, 0.5);
}

.logo {
    height: 80px;
    width: auto;
}

.LoginForm {
    margin-top: 25px;
    height: 70%;
    width: 100%;
    /*background-color: red;*/
}

.input:focus {
    /*background-color: forestgreen;*/
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top:15px;
    /*background-color: red;*/
}
.forgetPassword{
    margin-top: 05px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.forgetPassword h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: rgba(117, 0, 119, 0.5);
}

.reset{
    margin: 0 10px;
    font-weight: bolder;
}
.btnSubmit:hover{
    background-color: #750077;
}